apiVersion: apps/v1
kind: Deployment
metadata:
  name: specify
spec:
  replicas: 1
  template:
    spec:
      initContainers:
      - $patch: delete
        name: wait-for-mariadb
      containers:
      - name: specify
        resources:
          requests:
            memory: "512Mi"
            cpu: "250m"
          limits:
            memory: "2Gi"
            cpu: "1000m"
